<h1>Listing products</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Stock quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.title %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
    <td><%= product.stock_quantity %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>

<br/>

<h4>Average Product Price: $<%= @product_info[:price_average].round(2)%></h4>
<h4>Maximum Product Price: $<%= @product_info[:max_price].round(2)%></h4>
<h4>Total Number of Products: <%= @products.count%></h4>
<h4>Total Stock Quantity: <%= @product_info[:total_stock]%></h4>

<% 100.times do %>
    <p>Chunky Bacon</p>
<% end %>
